<% if @to_internal %>
  <p style="margin:0 0 16px">You have received an order from <%= "#{@order.bill_address_firstname} #{@order.bill_address_lastname}" %>. The order is as follows:</p>
<% else %>
  <p style="margin:0 0 16px">Thank you for your order,</p>
  <p style="margin:0 0 16px">Please allow at least 24-48 hours for processing.</p>
  <p style="margin:0 0 16px">At this time through the website, we ship within the US only via UPS ground and/or USPS priority mail.</p>
  <p style="margin:0 0 16px">If you would like to expedite your items or if this is an international order please immediately send an email to <a href="mailto:info@krissorbie.com">info@krissorbie.com</a> or call 212-807-0810 so that we can discuss your shipping options.</p>
  <p style="margin:0 0 16px">If you choose an expedited service and/or international shipping, additional charges will apply.</p>
  <p style="margin:0 0 16px">Please note that we cannot be held responsible for shipping delays due to holidays, the weather and/or carrier issues.</p>
  <p style="margin:0 0 16px">If you have purchased a <b>B’ING YOU</b> ring please allow 2 weeks for the custom order process.</p>
  <p style="margin:0 0 16px">If you have purchased our <b>ks Mentoring</b> program, we will send you an additional email to schedule and secure your appointment.</p>
<% end %>