<h2 style="color:#1adab1;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:16px 0 8px;text-align:left">
  <a href="<%= "#{EComm::Config.order_link}#{@order.number}?guest_token=#{@order.guest_token}" %>"
     style="color:#1adab1;font-weight:normal;text-decoration:underline" target="_blank">
    Order#<%= @order.number %>
  </a>
  (<%= Time.now.strftime('%B %e, %Y %I:%M %p') %>)
</h2>