<p style="margin:0 0 16px">Thank you for shopping online with us. We have cancelled your order. We will send you an additional note if this cancellation was not done at your request.</p>

<%= render partial: 'spree/shared/mailer/order_title' %>

<%= render partial: 'spree/shared/mailer/order_table' %>

<%= render partial: 'spree/shared/mailer/order_customer_details' %>