<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>krissorbie</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<div id="wrapper" dir="ltr" style="background-color: #f5f5f5; margin: 0; padding: 70px 0 70px 0; -webkit-text-size-adjust: none !important; width: 100%;">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"><tr>
    <td align="center" valign="top">
      <div id="template_header_image">
      </div>
      <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container" style="box-shadow: 0 1px 4px rgba(0,0,0,0.1) !important; background-color: #fdfdfd; border: 1px solid #dcdcdc; border-radius: 3px !important;">
        <tr>
          <td align="center" valign="top">
            <!-- Header -->
            <a href="<%= root_url %>" title="Home" style="color: #1adab1; font-weight: normal; text-decoration: underline;">
              <img class="logo-light regular-logo" src="<%= image_url('logo_heading-1.png') %>" width="600" alt="krissorbie" style="border: none; display: inline; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize;"></a>
            <!-- End Header -->
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <!-- Body -->
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body"><tr>
              <td valign="top" id="body_content" style="background-color: #fdfdfd;">
                <!-- Content -->
                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                    <td valign="top" style="padding:48px">
                        <div style="color:#737373;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">
                          <%= yield %>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Content -->
              </td>
            </tr></table>
            <!-- End Body -->
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <!-- Footer -->
            <table border="0" cellpadding="10" cellspacing="0" width="600" id="template_footer"><tr>
              <td valign="top" style="padding: 0; -webkit-border-radius: 6px;">
                <table border="0" cellpadding="10" cellspacing="0" width="100%"><tr>
                  <td colspan="2" valign="middle" id="credit" style="padding: 0 48px 48px 48px; -webkit-border-radius: 6px; border: 0; color: #76e9d0; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center;">
                    <p><a style="text-decoration: none; color: #1adab1; font-weight: normal;" href="<%= root_url %>">krissorbie.com</a></p>
                  </td>
                </tr></table>
              </td>
            </tr></table>
            <!-- End Footer -->
          </td>
        </tr>
      </table>
    </td>
  </tr></table>
</div>
</body>
</html>